<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRESENSI MAHASISWA</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="sidebar-brand-text mx-3">PRESENSI</div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard-mhs">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/presensi-mhs">
                    <i class="fab fa-wpforms"></i>
                    <span>Presensi</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/data-matkul">
                    <i class="fas fa-table"></i>
                    <span>Data Mata Kuliah</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/data-dosen">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Data Dosen</span>
                </a>
            </li>

            <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
    
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session['nama'] }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='user.png')}}">
                            </a>
                           
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profil-mhs">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">DATA MATA KULIAH</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabel Mata Kuliah</h6>
                        </div>
                        
                        <div class="card-body">
                                <table class="table table-bordered" id="dataTable_new" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><center>KODE MATA KULIAH</center></th>
                                            <th><center>NAMA MATA KULIAH</center></th>
                                            <th><center>JUMLAH SKS</center></th>
                                            <th><center>KODE DOSEN</center></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for baris in container1 %}
                                        <tr>
                                            <td><center>{{ baris[0] }}</center></td>
                                            <td>{{ baris[1] }}</td>
                                            <td><center>{{ baris[2] }}</center></td>
                                            <td><center>{{ baris[3] }}</center></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Akulumasi Presensi</h6>
                        </div>
                        
                        <div class="card-body">
                                <table class="table table-bordered" id="dataTable_new" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><center>NAMA MATA KULIAH</center></th>
                                            <th><center>JUMLAH HADIR</center></th>
                                            <th><center>JUMLAH SAKIT</center></th>
                                            <th><center>JUMLAH IZIN</center></th>
                                            <th><center>JUMLAH ALFA</center></th>
                                            <th><center>PERSEN (%)</center></th>
                                            <th><center>KETERANGAN</center></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for baris in container2 %}
                                        <tr>
                                            <td>{{ baris[0] }}</td>
                                            <td><center>{{ baris[1] }}</center></td>
                                            <td><center>{{ baris[2] }}</center></td>
                                            <td><center>{{ baris[3] }}</center></td>
                                            <td><center>{{ baris[4] }}</center></td>
                                            <td><center>{{ baris[5] }}</center></td>
                                            <td>{{ baris[6] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>          
                                </table>
                        </div>
                    </div>
                </div>
            </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2023</span>
                </div>
            </div>
        </footer>
        </div>
    </div>
    
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable_new').DataTable();
        })
    </script>

</body>
</html>