<html>
<head>

    <title>Login Mahasiswa</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>

<body>
    <div class="danger-msg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="login">
            <form method="post">
                <h2>LOGIN MAHASISWA</h2>
                <hr>
                {{ form.uname.label }}
                {{ form.uname() }}
                {{ form.password.label }}
                {{ form.password() }}
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        
        <div class="right">
            <img src="{{url_for('static', filename='login.jpg')}}" alt="Gambar">
        </div>
    </div>
    
</body>
</html>