<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRESENSI MAHASISWA</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="sidebar-brand-text mx-3">PRESENSI</div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard-dsn">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/rekap-presensi">
                    <i class="fas fa-file-alt"></i>
                    <span>Data Presensi</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/data-mahasiswa">
                    <i class="fas fa-users"></i>
                    <span>Data Mahasiswa</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/persentase">
                    <i class="fas fa-percentage"></i>
                    <span>Presentase Presensi</span>
                </a>
            </li>

            <hr class="sidebar-divider">
             <li class="nav-item">
                <a class="nav-link collapsed" href="/rekap-presensi-detail">
                    <i class="fas fa-folder-open"></i>
                    <span>Rekap Presensi</span>
                </a>
            </li>

            <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                      
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session['nama'] }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='user.png')}}">
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profil-dsn">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">DASHBOARD</h1>
                    <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4 ">
                        <div class="card border-left-success shadow h-100 py-2">
                        <a href="/data-mahasiswa" style="text-decoration:none;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Mahasiswa <br>yang diajar</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ jml_mhs[0] }} (Mahasiswa)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                            </div>
                        </div>
                        </a>
                        </div>
                    </div>
                   
                    <div class="col-xl-3 col-md-6 mb-4 ">
                        <div class="card border-left-danger shadow h-100 py-2">
                        <a href="/profil-dsn" style="text-decoration:none;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mata Kuliah <br> Yang diampun</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ mk[0] }} (Mata Kuliah)</div>
                            </div>

                            <div class="col-auto">
                                <i class="fas fa-book fa-2x text-gray-300"></i>
                            </div>
                            </div>
                        </div>
                        </a>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-md-6 mb-4 ">
                        <div class="card border-left-warning shadow h-100 py-2">
                        <a href="/profil-dsn" style="text-decoration:none;" data-toggle="modal" data-target="#comingModal">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SKS<br> yang sedang diambil</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ matkul[0]}} (SKS)</div>
                            </div>

                            <div class="col-auto">
                                <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                            </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>  
                </div>
                
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Grafik Hadir Mahasiswa</h6>
                            </div>

                            <div style="display:none">
                            <span id='jadwal1'>{{m_1[0]}}</span>
                            <span id='jadwal2'>{{m_2[0]}}</span>
                            <span id='jadwal3'>{{m_3[0]}}</span>
                            <span id='jadwal4'>{{m_4[0]}}</span>
                            <span id='jadwal5'>{{m_5[0]}}</span>
                            <span id='jadwal6'>{{m_6[0]}}</span>
                            <span id='jadwal7'>{{m_7[0]}}</span>
                            <span id='jadwal8'>{{m_8[0]}}</span>
                            <span id='jadwal9'>{{m_9[0]}}</span>
                            <span id='jadwal10'>{{m_10[0]}}</span>
                            <span id='jadwal11'>{{m_11[0]}}</span>
                            <span id='jadwal12'>{{m_12[0]}}</span>
                            <span id='jadwal13'>{{m_13[0]}}</span>
                            <span id='jadwal14'>{{m_14[0]}}</span>
                            <span id='jadwal15'>{{m_15[0]}}</span>
                            <span id='jadwal16'>{{m_16[0]}}</span>
                            <span id='jadwal17'>{{m_17[0]}}</span>
                            </div>
                        
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myChart1" style="width:100%;max-width:675px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Grafik Mahasiswa UAS</h6>
                            </div>

                            <div style="display:none">
                                <span id='ikutUAS'>{{ikutUAS[0]}}</span>
                                <span id='tidakUAS'>{{tidakUAS[0]}}</span>
                            </div>
                          
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                                </div>

                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-primary"></i> Mengikuti UAS
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-danger"></i> Tidak Mengikuti UAS
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

    <script>
        y1 = document.getElementById('jadwal1').textContent
        y2 = document.getElementById('jadwal2').textContent
        y3 = document.getElementById('jadwal3').textContent
        y4 = document.getElementById('jadwal4').textContent
        y5 = document.getElementById('jadwal5').textContent
        y6 = document.getElementById('jadwal6').textContent
        y7 = document.getElementById('jadwal7').textContent
        y8 = document.getElementById('jadwal8').textContent
        y9 = document.getElementById('jadwal9').textContent
        y10 = document.getElementById('jadwal10').textContent
        y11 = document.getElementById('jadwal11').textContent
        y12 = document.getElementById('jadwal12').textContent
        y13 = document.getElementById('jadwal13').textContent
        y14 = document.getElementById('jadwal14').textContent
        y15 = document.getElementById('jadwal15').textContent
        y16 = document.getElementById('jadwal16').textContent
        y17 = document.getElementById('jadwal17').textContent
    const xValues = ['Minggu 1','Minggu 2','Minggu 3','Minggu 4','Minggu 5','Minggu 6','Minggu 7','Minggu 8','Minggu 9','Minggu 10','Minggu 11','Minggu 12','Minggu 13','Minggu 14','Minggu 15','Minggu 16','Minggu 17']
    const yValues = [y1, y2, y3, y4, y5, y6, y7, y8, y9, y10, y11, y12, y13, y14, y15, y16, y17];

    new Chart("myChart1", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "#3f72af",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
        }]
    },

    options: {
        legend: {display: false},
        scales: {
        yAxes: [{ticks: {min: 0, max:40}}],
        }
    }
    });
    </script>

    <script>
        y = document.getElementById('ikutUAS').textContent
        t = document.getElementById('tidakUAS').textContent
        var xNilai = ["Mengikuti UAS", "Tidak Mengikuti UAS"];
        var yNilai = [y,t];
        var barColors = [
          "#3f72af",
          "#e74a3b"
        ];
        
        new Chart("myChart2", {
          type: "doughnut",
          data: {
            labels: ["Mengikuti UAS", "Tidak Mengikuti UAS"],
            datasets: [{
              backgroundColor: barColors,
              data: yNilai
            }]
          },
          options: {
            title: {
              display: true
            },
            legend: {
              display: false
        }
          }
        });
        </script>

</body>
</html>